.footer {
    max-width: 1000px;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    margin: 0 auto;
    align-items: center;
}

.copyright {
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.copyright .copyright-blog {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.footer-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0 15px;
}